/*Обнуляющие стили*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "R";
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Начало */

.body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1073px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.navbar {
    padding: 14px 0;
}

.navbar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__img {
    width: 70px;
    height: 30px;
}

.navbar__link {
    color: #222;
}
.navbar__text {
    color: #222;
    font-size: 14px;
}

/* Стили текста */

.header {
    padding-top: 127px;
    text-align: center;
}
.header__title {
    color: #191919;
    font-size: 64px;
    padding-bottom: 34px;
}
.header__text {
    color: #191919;
    font-size: 20px;
    padding-bottom: 36px;
}

/* Стили формы */

.form {
    display: flex;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 129px;
}

.form__block {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 476px;
    border: 1px solid #ededed;
    border-radius: 20px;
    box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.03);
}

.form__field {
    width: 327px;
    height: 50px;
    margin-bottom: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 31px;
    border: 1px solid rgba(115, 82, 255, 0);
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
}

.form__submit {
    position: absolute;
    width: 149px;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: block;
    padding-left: 49px;
    border-radius: 21px 0 0 21px;
    background-color: rgb(115, 82, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
}

/* Стили блока с фото*/

.gallery {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.gallery__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gallery__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
}

.gallery__item {
    position: relative;
    display: flex;
    height: 100%;
    margin-right: 5.6em;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
}

.gallery__img {
    height: 264px;
    margin-top: 24px;
}

.gallery__name {
    margin-top: 8px;
    margin-bottom: 13px;
    margin-right: 12px;
    font-size: 12px;
}

.gallery__position {
    border-top: 1px solid #f7f2e4;
    padding-top: 7px;
    margin-right: 12px;
    font-size: 10px;
}

.gallery-social__icon {
    width: 28px;
    align-self: center;
    padding-bottom: 12px;
}

.gallery-social__icon.last {
    padding-bottom: 0;
}

/* Стилизация блока с текстом нижнее позиционирование*/
.bottom__block {
    position: absolute;
    width: 113px;
    left: 190px;
    top: 152px;
    background: #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 3.99744px;
    padding: 8px 16px 13px 12px;
}

/* Стилизация блока с соц. сетями нижнее позиционирование*/
.bottom-social {
    position: absolute;
    width: 52px;
    left: 234px;
    bottom: 55px;
    background: #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

/* Стилизация блока с текстом позиционирование вверху*/
.top__block {
    position: absolute;
    max-width: 113px;
    left: -26px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px 16px 13px 12px;
}

/* Стилизация блока с соц. сетями позиционирование вверху*/
.top-social {
    position: absolute;
    width: 52px;
    left: -26px;
    top: 55px;
    background: #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

/* Стили блока с меню и картинкой */

.figure {
    position: relative;
    margin-top: -16px;
}

.figure__container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1039px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.linkboard {
    width: 100%;
    border-radius: 12px;
    background-color: #7349ff;
    background-position: 98% 2%, 2% 2%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0 -16px 64px 0 rgba(43, 42, 53, 0.32);
}

/* Стилизация меню */
.linkboard__menu {
    z-index: 1;
    display: flex;
    padding: 16px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkboard__link {
    position: relative;
    display: flex;
    padding-left: 36px;
    align-items: center;
    order: -1;
    background-color: transparent;
    opacity: 10px;
}

.linkboard__icon {
    width: 18px;
    position: relative;
    z-index: 2;
    padding-left: 6px;
}

.linkboard__label {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 12px;
    margin-right: 6px;
}

/* Стили блока картинки */
.linkboard__content {
    margin: 0 6px 6px;
    border-radius: 12px;
    background-color: #fff;
}

.linkboard__inner {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.linkboard__img {
    max-width: 1027px;
    order: -1;
}