* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "R";
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Начало */
.body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1073px;
    margin: 0px auto;
}

.content {
    flex: 1 1 auto;
}

.navbar {
    padding: 14px 0;
}

.navbar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__img {
    width: 70px;
    height: 30px;
}

.navbar__link {
    color: #222;
}
.navbar__text {
    color: #222;
    font-size: 14px;
}

/* Стили текста */
.header {
    padding-top: 127px;
    text-align: center;
}
.header__title {
    color: #191919;
    font-size: 64px;
    padding-bottom: 34px;
}
.header__text {
    color: #191919;
    font-size: 20px;
    padding-bottom: 36px;
}

/* Стили формы */
.form {
    display: flex;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 129px;
}

.form__block {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 476px;
    border: 1px solid #ededed;
    border-radius: 20px;
    box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.03);
}

.form__field {
    width: 327px;
    height: 50px;
    margin-bottom: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 31px;
    border: 1px solid rgba(115, 82, 255, 0);
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
}

.form__submit {
    position: absolute;
    width: 149px;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: block;
    padding-left: 49px;
    border-radius: 21px 0 0 21px;
    background-color: rgb(115, 82, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
}

